*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100vw;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

a:hover{
    background-color: red;
}

a{
    font-weight: bolder;
    text-align: center;
    display: block;
    background-color: darkred;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top:-4px;

}